<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.hrms.mapper.DeptMapper">
    <select id="getDeptById" resultType="com.ncu.hrms.bean.Dept">
        select * from dept where id=#{id}
    </select>

    <select id="getAllDepts" resultType="com.ncu.hrms.bean.Dept">
        select * from dept
    </select>

    <delete id="deleteDeptById">
        delete from dept where id=#{id}
    </delete>

    <insert id="addDept" parameterType="com.ncu.hrms.bean.Dept">
        insert into dept(name) values(#{name})
    </insert>

    <update id="updateDept" parameterType="com.ncu.hrms.bean.Dept">
        update dept set name=#{name} where id=#{id}
    </update>

    <select id="query" resultType="com.ncu.hrms.bean.Dept">
        select * from dept where name=#{name}
    </select>
</mapper>