<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.hrms.mapper.EmptransferMapper">
    <select id="getAllEmptransfer" resultType="com.ncu.hrms.bean.Emptransfer">
        select * from emptransfer
    </select>

    <delete id="deleteEmptransfer" parameterType="java.lang.Integer" >
        delete from emptransfer where id=#{id}
    </delete>
</mapper>